body, html {
    padding: 0;
    margin: 0;
}

#app {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    margin-top: 4rem;
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -250px;
    top: 0;
    z-index: 999;
    transition: all 0.3s;
}

.sidebar.active {
    left: 0;
}

.sidebar-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.sidebar-overlay.active {
    display: block;
}

.sidebar-content {
    position: fixed;
    width: 250px;
}

@media (min-width: 992px) {
    .sidebar {
        flex: 0 0 250px;
        position: static;
        left: 0;
        height: auto;
    }

    .sidebar.active {
        left: -250px;
        position: absolute;
    }

    .sidebar-overlay.active {
        display: none;
    }
}

.navbar {
    padding-bottom: .7rem;
    padding-top: .7rem;
}

.navbar-brand {
    font-size: 1.3rem;
    font-weight: 500;
}
