@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import 'node_modules/hover.css/scss/hover';

[v-cloak] {
    display: none;
}

.pagination {
    flex-wrap: wrap;
}

.w-100 {
    width: 100% !important;
}
